*{
    padding : 0px;
    margin : 0px;
}
body{
    background : url("images/fond.jpg") fixed center no-repeat;
    background-size: cover;
}
.principal{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 12.5%;
    width : 75%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 10px black;
    opacity : 0.9;
    height : 1500px;
}
h1{
    text-align : center;
    font-size : 75px;
}
h2{
    text-align : center;
    font-size : 22px;
    color : rgb(12, 129, 224);
    
}
table{
    text-align : center;
    font-size : 22px;
}
h3{
    text-align : center;
    font-size : 40px;  
}
h4{
    text-align : center;
    font-size : 40px;
}
h5{
    text-align : center;
    font-size : 40px;
}