*{
    padding : 0px;
    margin : 0px;
}
body{
    background : url("images/fond.jpg") fixed center no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
.principal{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 12.5%;
    width : 75%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 10px black;
    opacity : 0.9;
    height : auto;
    padding: 10px;
}
.principal > h1{
    text-align: center;
}
.label{
    text-align: right;
    font-size : 18px;
}
.saisieMDP{
    padding : 2px;
    border : 1px solid #0f9d58;
}
.saisieMDP:focus{
    outline : none;
    border : 2px solid #0f9d58;
}
.validerMDP{
    cursor : pointer;
    background-color: #0f9d58;
    border : none;
    padding : 3px;
    font-size : 21px;
    border-radius : 5px;
    color : white;
}
.frmMDP{
    width : 100%
}
.avertissement{
    color : red;
    font-weight : bold;
    max-width: 70%;
    margin-left : auto;
    margin-right : auto;
}
.confirmation{
    color : #0f9d58;
    font-weight : bold;
    max-width: 70%;
    margin-left : auto;
    margin-right : auto;
}